@use "@/assets/sass/mixins" as *;

.pay-widget {
	@include fixed(tl, 50%, 50%);
	@include translate;
	background-color: black;
	width: 90%;
	padding: 20px;
	line-height: 3;
	z-index: 1000;
	border-radius: 10px;
	box-shadow: get(shadow);
	.title {
		font-size: 2rem;
		text-align: center;
	}
	.fa-times {
		@include absolute(tr, 20px, 20px);
		color: get(white);
		font-size: 1.5rem;
	}
	.btn {
		margin: auto;
		font-size: 1.5rem;
		font-weight: bold;
		width: 50%;
	}
}
