@use "@/assets/sass/mixins" as *;

.table-section {
	background-color: get(black);
	color: get(white);
	width: 90%;
	margin: auto;
	padding: 10px;
	margin-top: 70px;
	border-radius: 10px;
	box-shadow: 3px 3px 10px get(primary);
	th {
		color: get(primary);
		padding-bottom: 20px;
	}
	td {
		padding: 15px 8px;
		&:last-of-type {
			border-left: none;
		}
	}
	.table-title {
		font-size: 30px;
	}
	.table-head {
		th {
			border-bottom: 2px solid get(primary);
		}
	}
	.table-body {
		text-align: center;
		backdrop-filter: blur(10px);
		.text-gray {
			color: gray;
		}
		.text-orange {
			color: orange;
		}
		.\!text-white {
			color: white !important;
		}
	}
	.table-foot {
		th {
			color: get(white);
		}
		tr:first-of-type {
			background: linear-gradient(rgba(70, 6, 19, 0.7), rgb(0, 0, 0));
		}
	}
}
