@use "@/assets/sass/mixins" as *;

.company {
	width: 147px;
	margin-bottom: 10px;
	position: relative;
	&:hover .overlay {
		scale: 1;
	}
	img {
		width: 100%;
		height: 150px;
		object-fit: 100% 100%;
		border-radius: 10px 10px 0 0;
	}
	h3 {
		text-align: center;
		padding-bottom: 5px;
	}
	.overlay {
		@include absolute(tl, 0, 0);
		@include flex(center);
		background-color: rgba(black, 0.5);
		width: 100%;
		height: 100%;
		scale: 0;
		h4 {
			background-color: crimson;
			color: get(white);
			padding: 10px;
			padding-bottom: 15px;
			border-radius: 5px;
		}
	}
}
