@use "./variables" as *;
$themes: ("red", "blue", "purple", "orange", "green", "silver", "cyan");

body[data-mode="dark"] {
	--white: #222;
	--black: #fff;

	--dimWhite: #546e7a;
	--dimBlack: #aaa;

	--lightWhite: #444;
	--lightBlack: #999;

	--border: 1px solid rgba(255, 255, 255, 0.5);
	--shadow: 5px 5px 15px rgba(255, 255, 255, 0.5);

	background-color: black;
}

@each $theme in $themes {
	body[data-theme="#{$theme}"] {
		@if $theme == "red" {
			--primary: #e53935;
			--secondary: #e91e63;
		}
		@if $theme == "blue" {
			--primary: #00a8ff;
			--secondary: #0097e6;
		}
		@if $theme == "purple" {
			--primary: #9c88ff;
			--secondary: #8c7ae6;
		}
		@if $theme == "orange" {
			--primary: #ffa500;
			--secondary: #e1b12c;
		}
		@if $theme == "green" {
			--primary: #4cd137;
			--secondary: #44bd32;
		}
		@if $theme == "silver" {
			--primary: #7f8fa6;
			--secondary: #718093;
		}
		@if $theme == "cyan" {
			--primary: #00bcd4;
			--secondary: #008b9e;
		}
	}
}
