:root {
	--primary: orange;
	--secondary: orangered;

	--white: #fff;
	--black: #000;

	--dimWhite: #6b7688;
	--dimBlack: #171d21;

	--lightWhite: #e4e4e4;
	--lightBlack: #46364a;

	--widgetBg: #000;

	--border: 1px solid var(--dimWhite);
	--shadow: 3px 3px 10px var(--secondary);
}
